<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<Rimsonable.Title>理智边缘</Rimsonable.Title>
	<Rimsonable.Settings>
		<Features>
			<AllowGrenadesThroughShields>
				<label>允许手榴弹穿过护盾</label>
				<description>让手榴弹可以穿过护盾。</description>
			</AllowGrenadesThroughShields>
			<SafeRestLocation>
				<label>安全休息地点</label>
				<description>人和动物只会在安全地点休息或睡觉，不会躺在有火焰、污染或毒气等危险的地方，也会避开门口。</description>
			</SafeRestLocation>
			<EnhanceArtilleryMarkers>
				<label>火炮标记强化</label>
				<description>火炮和迫击炮会优先攻击带有火炮标记的目标。其他炮塔在攻击已标记目标时也会获得少量命中加成。</description>
			</EnhanceArtilleryMarkers>
			<AutoAvoidProximityActivators>
				<label>自动避开探测激活器</label>
				<description>人和动物在寻路时会像躲避火焰一样，自动绕开机械集群的探测激活器，避免误触休眠中的机械集群。</description>
			</AutoAvoidProximityActivators>
			<BuildAtCorners>
				<label>墙角施工</label>
				<description>允许人员施工放置在墙角（十字形中心）的蓝图和框架。原版中，这类蓝图可以被运送资源，却因为没有人能从斜角接触到而永远无法完工。</description>
			</BuildAtCorners>
		</Features>
		<AutoTargetMarksOnNonHostile>
			<label>自动瞄准非敌对目标上的火炮标记</label>
			<description>是否允许火炮和迫击炮自动攻击带有火炮标记的非敌对目标，例如中立动物或访客。</description>
		</AutoTargetMarksOnNonHostile>
	</Rimsonable.Settings>
</LanguageData>