<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
	<Rimsonable.Settings>
		<Features>
			<AllowGrenadesThroughShields>
				<label>Разрешить гранатам проходить сквозь щиты</label>
				<description>Позволяет гранатам проходить сквозь щиты.</description>
			</AllowGrenadesThroughShields>
			<SafeRestLocation>
				<label>Безопасное место для отдыха</label>
				<description>Люди и животные будут отдыхать и спать только в безопасных местах без огня, загрязнения и газа, а также станут избегать дверей.</description>
			</SafeRestLocation>
			<EnhanceArtilleryMarkers>
				<label>Усиление артиллерийских меток</label>
				<description>Артиллерия и миномёты будут в первую очередь стрелять по целям с артиллерийской меткой. Остальные турели тоже получат небольшой бонус к точности при стрельбе по таким целям.</description>
			</EnhanceArtilleryMarkers>
			<AutoAvoidProximityActivators>
				<label>Автообход датчиков движения</label>
				<description>Люди и животные при поиске пути будут автоматически обходить датчики движения кластеров механоидов, как обходят огонь. Это помогает не активировать спящие кластеры механоидов по ошибке.</description>
			</AutoAvoidProximityActivators>
			<WorkMemory>
				<label>Рабочая память</label>
				<description>Скорость изготовления предметов с качеством растёт, если работать по одному и тому же заданию без переключения, и падает после долгого перерыва. Это поощряет повторную работу по тому же заданию.</description>
			</WorkMemory>
			<BuildAtCorners>
				<label>Строительство в углах</label>
				<description>Позволяет строить чертежи и каркасы, размещённые в углах стен (в центре фигуры «+»). В оригинале к таким чертежам можно подносить материалы, но достроить их невозможно — никто не может подобраться по диагонали.</description>
			</BuildAtCorners>
		</Features>
		<AutoTargetMarksOnNonHostile>
			<label>Автоматически целиться по артиллерийским меткам на невраждебных целях</label>
			<description>Должны ли артиллерия и миномёты автоматически наводиться на артиллерийские метки на невраждебных целях, например на нейтральных животных или гостях.</description>
		</AutoTargetMarksOnNonHostile>
		<WorkMemoryNonQualityRecipes>
			<label>Работает и для рецептов без качества</label>
			<description>Рабочая память будет действовать и на задания без качества результата, например на готовку или переработку.</description>
		</WorkMemoryNonQualityRecipes>
	</Rimsonable.Settings>
	<Rimsonable.WorkMemory>
		<InspectLine>Рабочая память: скорость {0}</InspectLine>
		<InspectPostfix> (скорость {0})</InspectPostfix>
	</Rimsonable.WorkMemory>
</LanguageData>
